/* div{
    height: 200px;
    width: 600px;
    background-color: pink;*/
/* border-width: 5px;
    border-style: solid;
    border-color: black; */
/* border: 5px solid black;
    border-left-color:rgb(87, 27, 37) ;
    border-right-color:blueviolet ;
    border-top:brown 5px dotted ;
    border-bottom-color:violet ;
} */
/* h1{
    
    width: 150px;
    background-color: peachpuff;
    border-width: 2px;
    border-style: dashed;
    border-color: cadetblue;
}  */


/* h2{
    display: inline;
    background-color: aqua;
}
/* span{
    display: block;
    background-color: cadetblue;
} */

/* 
span {
    background-color: rgb(235, 192, 201);
    border: 2px solid black;
    height: 100px;
    width: 100px;
    CSS ignores height and width due to inline property but cant ignore padding
    padding: 20px;
    padding and margin sets only on left and right
    margin: 2px;
} */

/* div {
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
} */



/* div{
    height: 200px;
    width: 200px;
    background-color: darksalmon;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
#yes{
    display: none;
} */




/* h1{
    border: 2px solid black;
    height: 40px;
    width:33.33%;
    background-color: cadetblue;
} */
/* #outer{
    height: 400px;
    width: 400px;
    background-color: darkturquoise;
    margin: 50px;
}
#inner{
     height: 100px;
    width: 100px;
    background-color: hotpink;
    margin-left: 10%;
} */



/* #outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    border: 2px solid black;
    font-size: 10px;
    font-family:"courier new";
}
#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 3em;
    padding: 1em;
} */


/* button{
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid blue;
    padding-left: 1em;
    padding-right: 1em;
} */


section{
    font-size: 15px;
}
div{
    font-size: 0.5rem;
}
/* we can use rem instead of em in this cases due to snowballing effect */