/* div {
    background-color: #4dff00ff;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s; */
/* transition-duration: 1s;
    transition-delay: 1s;  */
/* }

div:hover { */
/* background-color: black;
    border-radius: 50%; */
/* margin-top: 400px;
    background-color: palevioletred;

} */

/* #opacity{
    background-color: #ffa511;
    opacity: 1;
} */


/* section {
    margin-top: 100px;
} */

/* div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;

} */

/* div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
} */

/* transform */
/*#one {
    transform: rotate(0deg);
}

#one {
    transform: scale(1);
    transform: scaleX(0.5);

}

#two {
    transform: scaleY(0.5);
}

#three {
    transform: translate(-50px,50px);
    transform: translateX(-50px);
    transform: translateY(50px);
}
 #four{
    transform: skew(30deg);
}
#five{
    transform:  rotate(30deg) translateX(150px) ;
} */




/* div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: hotpink;
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
} */




/* div {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: hotpink;
    margin: 10px auto;
    background-image: url(bgimg.jpg);
    background-size: cover;
    color: beige;
   
} */


/* .card {
    height: 220px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 0px 6px 8px black;
    transition: 1s;
}

.desc {
    padding: 0 2px 0 2px;
}

.card:hover {
    box-shadow: 0px 12px 16px goldenrod;
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
} */



/* div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: hotpink;
    margin: 20px;
    display: inline-block;
    border: 3px solid black;

}
#static{
    background-color: aqua;
    position: static;
    top: 100px;
    left: 100px;

}
#relative{
    background-color: aqua;
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color:aqua;
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
    background-color:aqua;
    position: fixed;
    top: 100px;
    left: 100px;
} */




.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: rgb(165, 49, 49);
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 270px;
    left: 110px;
}

.left-eye,
.right-eye {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 90px;
    top: 100px;
    
}
.right-eye{
    left: 260px;
}