#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column;  */
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    align-content: flex-start;
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: baseline ; */
    /* align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;*/
}

#org {
    align-self: flex-start;
    /* align-self: flex-end; */
    /* align-self: baseline; */
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;
}
#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
    /* min-width: 400; */
    flex-shrink: 2;
}

h1 {
    text-align: center;

}

#container div {
    height: 100px;
    width: 50px;
    color: black;
    text-align: center;
    font-size: 1.5em;
}