/* .container{
    width: 600px;
    height: 300px;
    background-color: rgb(0, 13, 13);
    display: flex;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px ;
    grid-template-columns: 100px 100px 100px ; */
/* grid-template-rows: repeat(3,1fr); */
/* grid-template-columns: repeat(3,1fr); */
/* grid-gap: 10px 10px; */
/* row-gap: 10px;
    column-gap: 10px; */
/* justify-items: center;
    align-items: center; */
/* place-self: center; */
/* place-items: center; */
/* } */
/* .item{
    width: 100px;
    height: 50px;
    background-color:greenyellow;
    border: 2px solid black;
    text-align: center;
} */
/* .one{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/4;
    grid-column: 1/span 2;
    justify-self: end;
    align-self: end; */
/* place-self: start; */
/* } */
/* .two{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/4;
} */



/* .box {
    height: 100px;
    width: 300px;
    background-color: pink; */

/* animation-name:widthanimate ;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate; */
/* animation: coloranimation 3s ease-in 0s 4 alternate;
}

@keyframes FontAnimation {
    from {
        font-size: 20px;
    }

    to {
        font-size: 40px;
    }
} */

/* @keyframes coloranimation{ */
/* from{
        background-color:green;
    }
    to{
        background-color: cadetblue;
    } */
/* 0%{
        background-color: brown;
     }
     50%{
        background-color: deepskyblue;
     }
     100%{
        background-color:yellow;
     }
} */
/* @keyframes widthanimate{
    from{
        width: 10px;
        background-color: blueviolet;
        border-radius: 0%;
        font-size: 10px;
    }
    to{
        width: 1400px;
        background-color: yellowgreen;
        border-radius: 20px;
        font-size: 80px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
} */


/* h1{
    background-color: yellow;
    border: 2px solid black;
}
@media(width:400px){
    h1{
        background-color: brown;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
}
@media(min-width:700px){
    h1{
        background-color: chartreuse;
    }

}
@media(max-width:200px){
    h1{
        background-color: pink;
    }
}
@media(min-width:200px) and (max-width:500px){
    h1{
        background-color: cadetblue;
    }
}
@media(orientation: landscape){
    h1{
        background-color: cornflowerblue;
    }
} */



/* .card {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
img{
    width: 100%;
    border-radius: 25px;
}

h2 {
    color: chocolate;
}
span{
    color:darkgoldenrod;
}
h4{
    text-align: right;
    color: #3c787e;
}
#pets{
    display: flex;
    justify-content: space-evenly;
} */
/* body{
    font-size: smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 200px;
    min-height: 100px;
} */
 /* @media(max-width:375px){
    #pets{
        flex-wrap: wrap;
    }
 } */



.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: darkorange;
    position: relative;
    z-index: 1;
    top: 50px;
}
.two{
    background-color: aqua;
    position: relative;
    bottom: 20px;
    z-index: 1;
   
}
/* .three{
    background-color: brown;
    position: relative;
    z-index: 1;
} */